{% extends 'inventory/base.html' %}

{% block content %}
    <h2 class="mb-4">Cadastrar produto</h2>
    <form method="post" class="col-12 col-md-6 mx-auto">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% if field.name == 'price' %}
            <div class="input-group">
                <span class="input-group-text">R$</span>
                {{ field }}
            </div>
            {% else %}
            {{ field }}
            {% endif %}
            {% if field.help_text %}
                <div class="form-text">{{ field.help_text }}</div>
            {% endif %}
            {% if field.errors %}
                <div class="text-danger small mt-1">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Salvar</button>
    </form>
{% endblock %}
